            .img1{
            display: inline-block;
            position: absolute;
            top: 100px;
            right: 10px;
        }
        .img2{
            display: inline-block;
            position: absolute;
            top: 100px;
            left: 10px;
            }     

            .whole{
            border-style: solid;
            width: 60%;
            font-size: 20px;
            margin: 0 auto;
            padding: 10px;
            font-size: 20px;
            
            }
            
            .p1{
            background-color: #9cf196;
            border-style: solid;
            width: 500px;
            margin: auto;
            padding: inherit;
        }
        .p2{
            background-color: #fdffab;
            border-style: solid;
            width: 500px; 
            margin: auto;
            padding: inherit;
        }
        .p3{
            background-color: #90f2ff;
            border-style: solid;
            width: 500px; 
            margin: auto;
            padding: inherit;
        }
        .p4{
            background-color: #ff7e67;
            border-style: solid;
            width: 500px; 
            margin: auto;
            padding: inherit;
        }
        .p5{
            background-color: #ffbd39;
            border-style: solid;
            width: 500px; 
            margin: auto;
            padding: inherit;
        }
        .anchor{
            
            font-size: 20px;
            color: crimson;
        }
        h2{
            color: crimson;
        }
